.container {
    background-color: #e0f1ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    color: #343434;
}

.section {
    min-width: fit-content;
}

.logo {
    font-size: 2rem;
    color: #555964;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.apiBtn {
    background: #00c6bc;
    padding: 1rem;
    border: 2px solid #00c6bc;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.apiBtn:hover {
    background-color: transparent;
    color: #343434;
}

.apiBtn:active {
    transform: scale(0.9);
}


@media screen and (width <=400px) {
    .container {
        padding: 0.5rem 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .apiBtn {
        padding: 0.5rem;
        font-size: 0.8rem;
    }
}